# Servidor
PORT=3000
NODE_ENV=development

# Origen del frontend permitido por CORS (
FRONTEND_ORIGIN=h

# Base de datos MySQL
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=asistencia

# Autenticación
JWT_SECRET=dev_secret_cambiar_por_uno_largo_y_aleatorio_123456789
JWT_EXPIRES_IN=2h

# Reglas de negocio (horarios)
LATE_ARRIVAL_TIME=09:30:00
EARLY_DEPARTURE_TIME=17:30:00
